body {
    display: flex;
    background-color: #303030;
    justify-content: center;
    align-items: center;
    font-family: 'OCR A Extended', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

a {
    text-decoration: none;
}

a:active, a {
    color: white;
}
/*top-panel with title, info and actions in it*/
.top-panel {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.title-buttons {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;   
}

.title-box {
    height: 100%;
    width: calc(50% - 5px);
    display: flex;
    align-items: center;
    justify-content: center;    
}

.title {
    color: white;
    font-size: 4rem;
}

.buttons {
    width: calc(50% - 5px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: calc(50% - 5px);
    height: calc(100% - 10px);
    border-radius: 10px;
    background-color: #606060;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    color: white;
}

.fas {
    font-size: 1.5rem;
}

.far {
    font-size: 1.75rem;
}

.btn:hover {
    cursor: pointer;
}

.score-best {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.score, .best {
    width: calc(50% - 5px);
    height: calc(100% - 10px);
    background-color: #606060;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label, .value {
    color: white;
    font-size: 1.25rem;
}
/*game-field*/
.tbl-brd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    border: 10px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 15px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: calc(100% - 10px);
    background-color:#505050;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cell {
    background-color: #909090;
    width: calc(100% / 4 - 10px);
    height: calc(100% / 4 - 10px);
    border-radius: 5px;
}

.block {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.rule-box {
    margin-top: 100px;
    width: 70vw;
    /*
    border-radius: 10px;
    background-color: #505050;
    */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 100px;
}

.rule {
    width: 90%;
}

.return {
    margin-top: 50px;
    padding: 10px;
    background-color: #505050;
    border-radius: 10px;
}